{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-async-functions",
    "transform-regenerator",
    "react-hot-loader/babel"
  ]
}
